body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #fff;
    background-color: #0b0e11;
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
    outline: none;
    align-items: center;}

.header-dummystocks{
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #66fcf1;
    padding: 8px 16px;
    min-height: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.registerpage{
    background-color: #fafafa;
  
   
}
.form{
   
    position: relative;
    top:5.5em;
    margin-left: 3em;
    margin-right: 3em;
    
}
.register-form{
    display: block;
    max-width: 500px;
    margin: auto;
    top: 3em;
    position: relative;
    text-align: center;
    width: 350px;
    height: 400px;
    box-shadow: 0px 0px 0.5px 0.5px;
    background-color:#fff;
}


.register-title{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    top: 1.5em;
}
.register-subtitle{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    top: 8em;
    color: #707A8A;
}

.btn-createaccount{
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    appearance: none;
    user-select: none;
    cursor: pointer;
    display: block;
    margin: auto;
    top: 5em;
    color: #21282d;
    text-align: center;
    width : 150px;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   line-height: 50px;
   outline: none;
   border: none;
   border-radius: 4px;
   background-color: #66fcf1;
}
.btn-createaccount:hover{
    background-color: #a3fdf6;
}

.createacc-box{
    display: block;
    margin-top:2em;
    text-decoration: none;
}


.label-email,.label-password,.label-referral{
    font-size: 12px;
    color: #474D57;
    margin: auto;
    text-align: start;
    display: block;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding-bottom: 3px;
    
}

.form-input{
    border-width: thin;
    border-style: solid;
    outline: none;
    width: 100%;
    height:25px;
    border-radius: 4px;
}

.form-input:focus{
    border-width: 2px;
    outline: none;
    border-color:#66fcf1;;
    border-style: solid;

}

.form-group-pwd{
    padding-top: 23px;
}