body{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #fff;
    background-color: #12161C;
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
    outline: none;
    align-items: center;
}

.header-dummystocks{
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #66fcf1;
    padding: 8px 16px;
    min-height: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.header-login{
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-left: 8px;
    padding-right: 16px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    right: 25em;
}
.header-download{
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-left: 8px;
    padding-right: 16px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    right: 10em;
}
.header-help{
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-left: 8px;
    padding-right: 16px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    right: 5em;
}

.btn-register{
    margin: 0px 16px 0px 8px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    color: rgb(33, 40, 51);
    border-radius: 4px;
    padding: 6px 16px;
    min-height: 24px;
    border: none;
    background-color: #66fcf1;
    min-width: 52px;
    font-weight: 400;
    display: flex;
}
.btn-register:hover,.btn-registernow:hover{
    background-color: #a3fdf6;
}
.header-register{
    position: absolute;
    right: 15em;
    text-decoration: none;
}

.header-login:hover,.header-download:hover,.header-help:hover{
    color: #66fcf1;
   }


.header-download{
    display: block;
}

@media screen and (max-width:1022px){
    .header-download{display: none;}
    .header-login{display: none;}
    .header-help{display: none;}
    .header-register{
        right: 3em;
    }
    .header-dummystocks{
        padding: 4px 16px;
    }
}


.main-introduction{
    background-color: #0B0E11;
    width: 100%;
    height: 300px;
}
.main-title-block{
    position: relative;
    top:3em;
}

.main-title{
   text-align: center;
   margin: 0;
   color: white;
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
}
.main-subtitle-block{
    position: relative;
    top:4.5em;

}
.main-subtitle{
    text-align: center;
   margin: 0;
   color: #707a7a;
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;

}

.main-registernow{
    position: relative;
    top: 6em;
    
}
.btn-registernow{
    color: #21282d;
    text-align: center;
    width : 150px;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   line-height: 50px;
   outline: none;
   border: none;
   border-radius: 4px;
   background-color: #66fcf1;
}
